In [3]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from seaborn) (2.2.5)
Requirement already satisfied: pandas>=1.2 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\h4ck3r\desktop\adv_face_detection\flask-app\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import cv2
from glob import glob

In [14]:
# path extract (Crop_data) and put them in list

fpath = glob('./crop_data/female/*.jpg')
mpath = glob('./crop_data/male/*.jpg')
df_female = pd.DataFrame(fpath,columns=['filepath'])
df_female['gender'] = 'female'
df_male = pd.DataFrame(mpath,columns=['filepath'])
df_male['gender'] = 'male'

df = pd.concat((df_female,df_male),axis=0)
df.head()

                             filepath  gender
0     ./crop_data/female\female_0.jpg  female
1     ./crop_data/female\female_1.jpg  female
2   ./crop_data/female\female_100.jpg  female
3  ./crop_data/female\female_1002.jpg  female
4  ./crop_data/female\female_1005.jpg  female

In [15]:
df.tail()

                           filepath gender
2170  ./crop_data/male\male_994.jpg   male
2171  ./crop_data/male\male_996.jpg   male
2172  ./crop_data/male\male_997.jpg   male
2173  ./crop_data/male\male_998.jpg   male
2174  ./crop_data/male\male_999.jpg   male

In [18]:
# it will take each image path and return width of the image
def get_size(path):
    img = cv2.imread(path)
    return img.shape[0]

In [20]:
df_dimension = df['filepath'].apply(get_size)
df_dimension

0       273
1       182
2       122
3       122
4       182
       ...
2170    122
2171     54
2172    122
2173     81
2174    182
Name: filepath, Length: 4761, dtype: int64